<div id="buffetPhotos" class="carousel slide event-images">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <%= image_tag @event.event_cover, class: "d-block w-100 carr-img"%>
    </div>
    
    <% if @event.event_images.any? %>
      <% @event.event_images.each do |image| %>
        <div class="carousel-item">
          <%= image_tag image, class: "d-block w-100 carr-img"%>
        </div>
      <% end %>
    <% end %>

  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#buffetPhotos" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#buffetPhotos" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
